{% extends 'base.html.twig' %}

{% block title %}Version index{% endblock %}

{% block body %}
    <h1>Version index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>File</th>
                <th>IsValided</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td>{{ version.id }}</td>
                <td>{{ version.numero }}</td>
                <td>{{ version.file }}</td>
                <td>{{ version.isValided ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('version_show', {'id': version.id}) }}">show</a>
                    <a href="{{ path('version_edit', {'id': version.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('version_new') }}">Create new</a>
{% endblock %}
