{% extends 'base.html.twig' %}

{% block title %}Version{% endblock %}

{% block body %}
    <h1>Version</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ version.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ version.numero }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ version.file }}</td>
            </tr>
            <tr>
                <th>IsValided</th>
                <td>{{ version.isValided ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('version_index') }}">back to list</a>

    <a href="{{ path('version_edit', {'id': version.id}) }}">edit</a>

    {{ include('version/_delete_form.html.twig') }}
{% endblock %}
